<header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom bg-primary">
  <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-white">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Logo</span>
  </a>
  <ul class="nav nav-pills px-3 ">
    <li class="nav-item"><a href="#" class="nav-link text-bg-primary">historico</a></li>
    <li class="nav-item"><button class="nav-link text-bg-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Carrinho</button></li>
  </ul>
</header>
