<%- include('./partials/head.ejs')%>
<div class="container p-5 m-5">
  <div class="list">
    <h1>Main page</h1>
  </div>
  <br>
  <div class="d-flex flex-column">
    <a class="my-3" href="/clientes/clientes"><button class="btn btn-primary"> Clientes</button></a>
    <a href="cozinha/cozinha" class="my-3"><button class="btn btn-primary">Cozinha</button></a>
    <a href="admin/index" class="my-3"><button class="btn btn-primary">Admin</button></a>
  </div>
</div>
<%- include('./partials/foot.ejs')%>
